.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 3.8px;
    border-radius: 7px;
    color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(75, 74, 74, 0.5);
    

    ;
}