.container {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;

}

.title {
    padding-bottom: 25px;
}

.input {
    padding: 10px;
    border-radius: 4px;
    height: 35px;
    background-color: #e8f0fefe;
    border: 1px solid black;

}

.star {
    color: crimson;
}

.a {
    color: var(--primary-color);
}

.btn {
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.register {
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
}

.login {
    line-height: 25px;
}