


.container{
    display:flex ;
    flex-shrink: 0;
    flex-direction: column;
    width: 200px;
    background-color: #fff;
    height: 100vh;
    gap: 20px;
    padding: var(--header-padding);

}

.container a{
    display: block;
}
.active{
    color: var(--primary-color);
    /* border: 2px solid var(--primary-color); */
}

.active svg{
    color: var(--primary-color);
}


.mewMsg{
    height: 51px;
}