

.container{
    display: flex;
    gap: 15px;
    width: 100px;
    color: #ffff;
    padding: 10px 15px 10px 15px  ;
    border-radius: 12px;
    background-color: var(--primary-color);
}
.svg {
    color: #ffff;
    font-size: 20px;
    line-height: 18.6px;

}