 .input , .svg{
    font-size: 15px;
    font-weight: 500;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #B3BDCC;
    padding: 8px;
    border-radius: 10px;
    background-color: #E4E8EE;
    ;
    
}
.input{
    width: 200px;
    color: #7e838f;
}

.svg {
    color: #B3BDCC;
}
