h3{
    font-weight: 600;
    font-size: 15.5px;
    line-height: 20px;
}
p{

    color:var(--text-color);
}
.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;

}
.container {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
    background-color: #FFFFFF;
}

.content {
}

.img{

    width: 42px;
    height: 42px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.svg {
    color: var(--text-color);
    font-size: 35px;
    width: 42px;
    height: 42px;
}
.line{
    border-bottom: #DEE1E6 1px solid;
    width: 598px;
}
